body {
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica ,'Microsoft YaHei',sans-serif !important;
}

table th{
    white-space:nowrap;
}

//form .control-content
.form-horizontal .control-content{
    padding-top:7px;
}

.form-group .control-content{
    margin-top:3px;
}

//navbar ul show
li.nav-parent.active{
    ul{
        display:block;
    }
}

//spinner

//copys
.headerbar-copy{
    height:50px;
    background-color:white;
}

